
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import '../css/404_page.css';
@import '../css/adminStyle.css';
@import '../css/departments.css';
@import '../css/director.css';
@import '../css/Footer-with-button-logo.css';
@import '../css/history.css';
@import '../css/map.css';
@import '../css/massmedia.css';
@import '../css/museum.css';
@import '../css/newsShow.css';
@import '../css/nwesStyle.css';
@import '../css/style.css';
@import '../css/books.css';
