.books__page {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
}
.books__show {
    width: 180px;
    margin-right: 20px;

}

.books__show .aphtor {
    color: #ccd3d9;

}

.books__show a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books__show a:hover {
    text-decoration: none;
}

.books__show a img{
    width: 100%;
    height: auto;

}

.book__name {
    margin: 0 auto;
}

.aphtor {
    margin-top: -10px;
    color: #d3d9df;
}
/*----------- Стили для отдельных страниц книг -------------*/
