
#myFooter {
    background-color: #00435d;
    color: white;
    padding-top: 30px;

}

#myFooter a, #myFooter p {
}

#myFooter .footer-copyright {
    background-color: #00435d;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    margin: 0 auto;
}

#myFooter .footer-copyright p a {
    text-decoration: underline;
}

#myFooter .footer-copyright p a:hover {
    color: #000;
}

#myFooter .row {
    margin-bottom: 0px;
    position: relative;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #fff;
    opacity: 0.8;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    line-height: 2.5;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #fff;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-bottom: 16px;
}

#myFooter .social-networks ul {
    display: flex;
    justify-content: flex-end;
}

#myFooter .social-networks a {
    font-size: 20px;
    color: #fff;
    padding: 4px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .vk:hover {
    color: #c4302b;
}

#myFooter .inst:hover {
    color: #F77737;
}




#myFooter .btn {
    color: #6f6f6f;
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 20px;
    border: 2px solid #6f6f6f;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;

}


.container__footer {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.row{
    width: 1200px;
    display: flex;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.container__footer__row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.logo__footer {
    background-color: #fff;
    position: absolute;
    width: 13%;
    height: 191px;
    padding: 20px;
    margin-top: -40px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 5px 20px -5px #000;
}

.logo__footer a {
    width: 80%;
}

.logo__footer a img {
    width: 100%;
}

.row-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.social-networks ul {
    display: flex;
}

.social-networks ul li {
    width: 35px;
    height: 35px;
    /*background: #4d4c4c;*/
    /*border-radius: 50%;*/
    display:flex;
    justify-content: center;
    align-items: center;
}

.col-sm-8-mod ul {
    display: flex;
}

.col-sm-8-mod ul li {
    margin-right: 40px;
    list-style-type: square;
}

.col-sm-2-mod {
    padding: 0 5px 0 0 !important;
}

.col-sm-2-mod ul li {

}


