@font-face{
    font-family: SF-Pro-Text-Regular;
    src: url(fonts/SF-Pro-Text-Regular.otf);
    font-weight: normal;
}
@font-face{
    font-family: SF-Pro-Text-Light;
    src: url(fonts/SF-Pro-Text-Regular.otf);
    font-weight: lighter;
}


.container_1{
    font-family: 'OpenSans-Regular';
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new__state__date {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #bfc8cf;
}

.new__state__date p{
    padding: 0;
    margin: 0;
}

.history_content{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.social-networks_1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
    padding-right: 15px;
    display: flex;
    padding-top: 440px;
}

.social-networks_1 a {
    font-size: 20px;
    color: #6f6f6f;
    padding: 4px;
    transition: 0.2s;
}

.social-networks_1 a:hover {
    text-decoration: none;
}

.facebook:hover {
    color: #0077e2;
}

.google:hover {
    color: #ef1a1a;
}

.vk:hover {
    color: #00aced;
}

.inst:hover {
    color: #F77737;
}


.social-networks_1 ul {
    display: flex;
    flex-direction: column;
}

.social-networks_1 ul li {
    width: 35px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    /*flex-direction: column;*/
}



.social_and_banner{
    display: flex;
    justify-content: center;
}

.read_more{
    display: flex;
    justify-content: center;
    color: #0064be;
    cursor: pointer;
}

.history__way {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
}
.history__way, .history__way a{
    text-decoration: none;
    color: #97a5b2;
}
