@font-face{
    font-family: SF-Pro-Text-Regular;
    src: url(fonts/SF-Pro-Text-Regular.otf);
    font-weight: normal;
}
@font-face{
    font-family: SF-Pro-Text-Light;
    src: url(fonts/SF-Pro-Text-Regular.otf);
    font-weight: lighter;
}

.culrure__wrap {
    margin-top: 160px;
}


.news_page__way {
    margin: 0 auto;
    width: 1200px;
    padding: 20px 0;
}
.news_page__way, .news_page__way a{
    text-decoration: none;
    color: #97a5b2;
}

.news {
    width: 1100px;
    margin: 0 auto;
}

.news__state__headline {
    width: 100%;
    margin-bottom: 20px;
}

.news__state__headline h1{
    text-align: center;
    font-size: 2.25rem;
    font-family: 'OpenSans-Regular';
}

.news__state {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news__state__text {
    width: 100%;
}

.news__books__text {
    display: flex;
}

.news__state__text .news__books__img {
    margin: 0 60px 20px 0;
}

.news__state__text .news__books__img img {
    width: 100%;
}

.news__state__text__descr {
    width: 70%;
}

.news__state__text__descr__aphtor {
    margin-bottom: 20px;
    display: flex;
}

.news__state__text__descr__aphtor p {
    margin: 0 5px 0 0;
    font-size: 1.6em !important;

}

.news__state__text__descr__items {
    margin-bottom: 20px;
}

.news__state__text__descr .news__state__text__descr__items p {
    margin-bottom: 0;
}

.news__state__text p {
    font-size: 1.2em;
    font-family: 'OpenSans-Regular';
}

.news__state__img {
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.news__books__img {
    width: 20%;
    margin-bottom: 20px;
}

.news__state__img img{
    margin: 0 auto;
}
.news__state__date {
    width: 100%;
}

.text_review p {
    font-size: 1.2em;
    font-family: 'OpenSans-Regular';
}

.news__state__reader {
    width: 100%;
    margin: 20px 0;
}

.news__state__reader a {
    padding: 10px 20px;
    color: #fff;
    background-color: #227dc7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.news__state__reader a:hover {
    color: #fff;
    background-color: #f38727;
    transition: all 0.3s ease-in;
    text-decoration: none;
    
}
