@font-face{
    font-family: SF-Pro-Text-Regular;
    src: url(fonts/SF-Pro-Text-Regular.otf);
    font-weight: normal;
}
@font-face{
    font-family: SF-Pro-Text-Light;
    src: url(fonts/SF-Pro-Text-Regular.otf);
    font-weight: lighter;
}




.news_page__way {
    margin: 0 auto;
    width: 1200px;
    padding: 20px 0;
}
.news_page__way, .news_page__way a{
    text-decoration: none;
    color: #97a5b2;
}

.news {
    width: 1100px;
    margin: 0 auto;
}

.news__state__headline {
    width: 100%;
    margin-bottom: 20px;
}

.news__state__headline h1{
    text-align: center;
    font-size: 2.25rem;
}

.news__state {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news__state__text {
    width: 100%;
}

.news__state__text p {
    font-size: 1.2em;
}

.news__state__img {
    width: 45%;
    margin-bottom: 20px;
}

.news__books__img {
    width: 20%;
    margin-bottom: 20px;
}

.news__state__img img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.news__state__date {
    width: 100%;
}

.text_review p {
    font-size: 1.2em;
}