.wrap__project {
    margin: 160px auto 0;
}

.project {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.project__page {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project__page a {
    width: 32%;
}

.project__page a .project__page__block:hover {
    /*box-shadow: 0px 3px 10px -2px #000;*/
    transition: all 0.3s ease-in;
    transform: scale(1.02);
}

.project__page a:hover {
    text-decoration: none;
}

.project__page__block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 3px 10px -2px #000;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #d87722;
    transition: all 0.3s ease-out;
}

.project__page__block__text {
    font-size: 1.2em;
    text-align: center;
    color: #fff;
}

/*синий - #5595d0*/
/*красный – #de4e4e*/
/*зелёный – #689e6f*/

.bg__first .project__page__block{
    background-color: #11599a;
}

.bg__nth .project__page__block {
    background-color: #008c66;
}

.bg__last .project__page__block {
    background-color: #5f1992;
}
